<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.tsiangleo.sr.client">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sr"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".activity.HomeActivity" android:label="说话人识别">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.RegistVoiceActivity" android:label="注册声纹"
            android:parentActivityName=".activity.HomeActivity">
        </activity>

        <activity android:name=".activity.VerifyVoiceActivity" android:label="验证声纹"
            android:parentActivityName=".activity.HomeActivity">
        </activity>

        <activity android:name=".activity.SettingActivity" android:label="系统设置"
            android:parentActivityName=".activity.HomeActivity">
        </activity>


        <activity android:name=".activity.ServerSettingActivity" android:label="服务器设置"
            android:parentActivityName=".activity.SettingActivity">
        </activity>

    </application>

</manifest>